# Test Report

**Date:** 2026-04-04 09:43:51

## Résumé
======================== 1 skipped, 1 warning in 0.59s ========================
============= 9 failed, 20 passed, 2 skipped in 141.49s (0:02:21) =============

Errors:
E   KeyError: 0
E   AssertionError: None not found in {'547089f3': {'id': '547089f3', 'symbol': 'ETH/USDT', 'side': 'BUY', 'entry_price': 3000, 'qty': 0.16666667, 'size_usd': 500, 'sl': 2900, 'tp': 3200, 'open_time': '2026-03-19T15:43:27.745793', 'unrealized_pnl': 0.0, 'unrealized_pct': 0.0}, 'e73278c6': {'id': 'e73278c6', 'symbol': 'ETH/USDT', 'side': 'BUY', 'entry_price': 3000, 'qty': 0.16666667, 'size_usd': 500, 'sl': 2900, 'tp': 3200, 'open_time': '2026-04-04T13:23:13.827844', 'unrealized_pnl': 0.0, 'unrealized_pct': 0.0}, 'f26641e0': {'id': 'f26641e0', 'symbol': 'ETH/USDT', 'side': 'BUY', 'entry_price': 3000, 'qty': 0.010336, 'size_usd': 31.01, 'sl': 2900, 'tp': 3200, 'open_time': '2026-04-04T13:27:34.808214', 'unrealized_pnl': 0.0, 'unrealized_pct': 0.0}}
E   AssertionError: False is not true
E   AssertionError: False is not true
E   AssertionError: Panel template failed to instantiate: False is not true
E   selenium.common.exceptions.WebDriverException: Message: unknown error: net::ERR_CONNECTION_REFUSED
E     (Session info: chrome=146.0.7680.178)
E   Stacktrace:
E   	chromedriver!GetHandleVerifier [0x7ff70af029c5+2ed785]
E   	chromedriver!GetHandleVerifier [0x7ff70ac2a0d0+14e90]
E   	chromedriver!(No symbol) [0x7ff70a98db2d]
E   	chromedriver!(No symbol) [0x7ff70a98a654]
E   	chromedriver!(No symbol) [0x7ff70a97a6d1]
E   	chromedriver!(No symbol) [0x7ff70a97c5bf]
E   	chromedriver!(No symbol) [0x7ff70a97ac73]
E   	chromedriver!(No symbol) [0x7ff70a97a43b]
E   	chromedriver!(No symbol) [0x7ff70a97a0f1]
E   	chromedriver!(No symbol) [0x7ff70a977d3b]
E   	chromedriver!(No symbol) [0x7ff70a978482]
E   	chromedriver!(No symbol) [0x7ff70a991de6]
E   	chromedriver!(No symbol) [0x7ff70aa34994]
E   	chromedriver!(No symbol) [0x7ff70aa0ff8a]
E   	chromedriver!(No symbol) [0x7ff70aa33b9b]
E   	chromedriver!(No symbol) [0x7ff70a9d9298]
E   	chromedriver!(No symbol) [0x7ff70a9da183]
E   	chromedriver!GetHandleVerifier [0x7ff70af2de0d+318bcd]
E   	chromedriver!GetHandleVerifier [0x7ff70af28588+313348]
E   	chromedriver!GetHandleVerifier [0x7ff70af49d7a+334b3a]
E   	chromedriver!GetHandleVerifier [0x7ff70ac46785+31545]
E   	chromedriver!GetHandleVerifier [0x7ff70ac4facc+3a88c]
E   	chromedriver!GetHandleVerifier [0x7ff70ac33634+1e3f4]
E   	chromedriver!GetHandleVerifier [0x7ff70ac337e6+1e5a6]
E   	chromedriver!GetHandleVerifier [0x7ff70ac17e37+2bf7]
E   	KERNEL32!BaseThreadInitThunk [0x7ff8b9c8e8d7+17]
E   	ntdll!RtlUserThreadStart [0x7ff8bb2ec48c+2c]
E   AssertionError: unexpectedly None
E   AssertionError: unexpectedly None
E   AssertionError: unexpectedly None
E   AssertionError: unexpectedly None